header.top {
	position: fixed;
	z-index: 600;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #222;
	/*background-color: red;*/
	color: white;
	padding: 0 20px 0 0;

}

.logo-link img {
	height: 75px;
	width: 95px;
	margin-top: 10px;
	/*background-color: white;*/
	margin-left: 5px;
}

/*.logo-link-tagline h6 {
	margin-top: 60px;
margin-bottom: 10px;
margin-left: -284px;
}
*/
h6 {
	margin-top: 60px;
	margin-bottom: 10px;
	margin-left: -340px;
}

.main-nav {
	flex: 2;
	text-align: center;
	overflow: hidden;
	height: 85px;
}

.main-nav>ul {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-nav>ul>li {
	height: 85px;
	position: relative;
	margin-top: 40px;
	font-size: 18px;
}

h1 {
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 8px;
}

.question1 {
	margin-left: 50px;
	margin-top: 50px;
}

.n1 {
	margin-top: 20px;
}

.container-fluid-home {
	margin-top: -50px;
}

.image-crop img{
	width:80%;
	height:100px;
	margin-top: -250px;
	margin-left: 250px;
	
}

.badge {
    background:             radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background:    -moz-radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background:     -ms-radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background:      -o-radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background: -webkit-radial-gradient( 15px -12px, circle, white 8%, red 16px );
    background-color: red;
    border: 2px solid white;
    border-radius: 18px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 25px/12px Helvetica, Verdana, Tahoma;
    height: 37px; 
    padding: 10px 5px 0 3px;
    text-align: center;
    min-width: 40px;
}

/* only needed for this sample */
 
/* only needed for this sample */
.badge {
    float:left;
    left:25px;
    margin-left: 100px;
    position:relative;
    top:-130px;
}

#badge1 {
	margin-left: 370px;
}

#badge2 {
	margin-left: 190px;
}

#badge3 {
	margin-left: 205px;
}

#badge4 {
	margin-left: 250px;
}

.content2{
	font-size: 30px;

	color: black;
	margin-top: -50px;
	margin-left: 20px;
	float:left;

}

#question0{
	width:126px;
	height:100px;
	float:left;
	margin-top:170px;
	margin-left:30px;
	font-size:30px;
	color:black;
}

.circle {
	width:290px;
	height:290px;
	margin-left: 120px;
	cursor: pointer;
}
#circle2 {
	margin-top: -170px;
	margin-left: 550px;
}
#circle3 {
	margin-top: -285px;
	margin-left: 980px;
}

#box1 {
	width:280px;
	float:left;
	height:460px;
	color:green;
	margin:20px;
	margin-left: 120px;
	margin-top: 50px;
	padding:15px;
	font-size: 27px;
	color:white;
}

#Requirements1 content {
	color: black;
	font-size: 40px;
}

#box1 a {
	padding-left: 20px;
	color: white;
	font-size: 20px;
	
}

#box1 ol li {
	list-style-type: 
}

/*#box2 {
	font-size: 20px;
	width:280px;
	height:100px;
	margin-left: 330px;
	margin-top: 50px;
	float:left;
	padding-top: 30px;
}*/


.buttoncancel {
	background-color: white;
	width: 200px;
	height: 50px;
	margin-left: 116px;
	margin-top: 380px;
	float: left;
	text-align: center;
	font-size: 20px;
	padding-top: 15px;
	color: black;
	/* position: fixed; */
}

.buttonsubmit {
	background-color: white;
	width: 200px;
	height: 50px;
	margin-left: 800px;
	margin-top: -49px;
	float: left;
	text-align: center;
	font-size: 20px;
	padding-top: 15px;
	color: red;
	/* position: fixed; */
}
.arrowimage {
	height: 100px;
	width: 100px;
}

.arrowimage img {
	vertical-align: center;
	height: 50px;
	width: 50px;
}

.box2 {
	margin-top: 20px;
}

.box2 select{
	color: black;
	overflow: hidden;
}

.form {
	margin-left: 5%;
	margin-top: 7%;
}

#Pricing ul li {
	list-style: none;
	font-size: 14px;
}