.navbar-brand img {
	vertical-align: middle;
	height: 70px;
	width: 85px;
	margin-top: -15px;
	background-color: white;
	margin-top: -12px;
}

.navbar-default {
	background-color: #E81313;
	border-color: #e7e7e7;
	height: 80px;
	color: white;
}

.navbar-brand p,h1 {
	font-size: 36px;
	margin-left: 90px;
	margin-top: -75px;
	color: white;
}

.navbar-brand p, h5 {
	font-size: 14px;
	margin-left: 90px;
	margin-top: -5px;
	color: white;
}

.home-row p {
	font-size: 30px;
	margin-top: 55px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	margin-top: 35px;
	font-size: 16px;
}

.home-row .col-md-8 .col-md-3 p{
	font-size: 24px;
}



.image1-row img{
	height: 260px;
	width: 270px;
	border-radius: 50%;
}

/*.small-circle-row .circle1{
	background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 25px/12px Helvetica, Verdana, Tahoma;
    text-align: center; 
}

.small-circle-row .circle2{
	background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 25px/12px Helvetica, Verdana, Tahoma;
    text-align: center; 
}

.small-circle-row .circle3{
	background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 25px/12px Helvetica, Verdana, Tahoma;
    text-align: center; 
}
.small-circle-row .circle4{
	background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 25px/12px Helvetica, Verdana, Tahoma;
    text-align: center; 
}

*/

.circle1 img {
	height: 50px;
	width: 90px;
}

.circle2 img {
	height: 50px;
	width: 90px;
}

.circle3 img {
	height: 50px;
	width: 90px;
}

.Home-section {
	background-color: #E6E6E6;
	margin-top: -20px;
	height: 800px;
}
