.navbar-brand img {
height: 55px;
width: 65px;
background-color: white;
margin-top: -10px;
}

.navbar-collapse.collapse {
display: block!important;
/* height: auto!important; */
padding-bottom: 0;
overflow: visible!important;
height: 95px;
/* color: white; */
}

h6 {
	margin-top:-2px;
	color: white;
}

.navbar-brand {
	color: white;
}

.top {
	position: fixed;
}

.collapse navbar-collapse ul {
	margin-top: 20px;
}