/*/*/*/*/*/*/*/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:red;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    height: 15%;
}

li {
    float: right;
}*/
/*
.navbar-brand {
float: left;
height: 90px;
padding: 15px 15px;
font-size: 18px;
line-height: 20px;
}

*/
/*.navbar-fixed-top {
top: 0;
border-width: 0 0 1px;
height: 80px;
}
*/

.navbar-brand {
float: left;
height: 80px;
padding: 15px 15px;
/*font-size: 18px;
*/line-height: 20px;

}

.navbar-brand img {
vertical-align: middle;
height: 60px;
width: 100px;
margin-top: -12px;
background-color: white;
}

.navbar {
    background-color: red;
    font-color: green;
}

/*.content {
    margin-left: 79px;
    color: white;
}*/
/*
.content img{
	height: 15px;
	width:20px;
}

.navbar-brand {
margin-left: -25px;
height: 80px;
color: white;
font-size: 25px;
}

.pull-right {
float: right!important;
margin-top: 15px;
}

.container-fluid p {
	color:white;
	font-size: 30px;
	margin-top: 5px;
}

h6 {
	color: white;
}

.navbar {
position: relative;
min-height: 50px;
height: 130px;
margin-bottom: 20px;
border: 1px solid transparent;
}

*/