.navbar-brand img {
	vertical-align: middle;
	height: 70px;
	width: 85px;
	margin-top: -15px;
	background-color: white;
	margin-top: -12px;
}

.navbar-fixed-top {
	background-color: #E81313;
	border-color: #e7e7e7;
	height: 80px;
	color: white;
}


.navbar-brand p,h1 {
	font-size: 36px;
	margin-left: 90px;
	margin-top: -75px;
	color: white;
}

.navbar-brand p, h5 {
	font-size: 14px;
	margin-left: 90px;
	margin-top: -5px;
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	margin-top: 35px;
	font-size: 16px;
}


.Home-Section {
	background-color:#E6E6E6;
	margin-top:80px;
	height:530px;
}
.Home-Section p{
	font-size: 24px;
	padding-top: 15px;
}

.Home-Section .Arrow-image img {
	height: 50px;
	width: 80px;
}


.Tell-row p {
	font-size: 24px;
	padding-top: 40px;
}

.Large-circle-row img{
	height:250px;
	width: 250px;
	border-radius: 50%;
	cursor: pointer;
}
.Questions-Section {
	height: 550px;
	width: 100%;
	background-color:white;
	display: none;
}
.Questions-Section p{
	font-size: 35px;
	text-align: center;
	padding-top: 10px;
}

.Questions-Section .List-row ul,li {
	font-size: 23px;
	color:white;
	padding-top: 9px;
	list-style-type: decimal;
}

.Questions-Section .List-row .List{
	background-color: red;
	height:385px;
}

.Questions {
	background-color: white;
	height: 250px;
	padding-top: 5px;
	font-size: 12px;
	color: black;
}
.term{
	font-size: 12px;
}

.Questions-Buttons {
	background-color:white;
	height:130px;
}

.Questions-Buttons img {
	height: 60px;
	width: 50px;

}

.Questions-Buttons button {
	padding-top: 10px;
	margin-top: 30px;
}

.Questions-Section .List-row {
	margin-top: 10px;
}

.badge {
	background-color: red;
	height: 35px;
	width: 35px;
	border-radius: 20px;
	padding-top: 9px;
	font-size: 15px;
}

.btn {
	text-align: center;
}

.dropdown {
	position: relative;
	margin-left: 270px;
	font-size: 10px;
}
